<h2>Interceptor demo</h2>
<h4>Intercepts all HTTP Request/Response from one common service.</h4>



<h3>Header Interceptor: Observe http request header, <u>Authorization: `TestToken`</u> added in header from common interceptor service. </h3> 
<h3>Error Interceptor: Click below two buttons, if API returns error then caught in common interceptor service.</h3>





<h4>Click to call getEmpById : <button (click)="getEmpById()">getEmpById</button></h4>

<h4>Click to call getEmpList : <button (click)="getEmpList()">getEmpList</button></h4>